<!DOCTYPE html>
<html  ng-app>
    <head>
        <title>Add Defect</title>
        <script src="js/angular.js"></script>
        <script src="js/dataload.js"></script>
        <script src="js/addDefectController.js"></script>
        
        <link href="styles/styles.css" rel="stylesheet" />
    </head>
    <body ng-controller="addDefectController" ng-init="init()">
        
        <div id="addDefect">
            <div >
                <h1>Add New Defect</h1>
                <br />
                <label>ID</label>
                <label> {{defect.ID}}</label>
                <br />
                <label>Title:</label>
                <input type="text" value={{defect.Title}} />
                <br />
                <label>Description</label>
                <textarea rows="5" cols="20">{{defect.Description}}</textarea>
                <br />
                <label>Project</label>
                <input type="text" value={{defect.Project}} />
                <br />
                <label>Status</label>
               <!-- <select "status in statuses">
                    <option value={{status.ID}}>{{status.Value}}</option>
                </select>-->
                <select ng-model="curStatus" ng-options="status.Value for status in statuses">

                </select>
                <br />
                <label>Severity</label>
                <input type="text" value={{defect.Severity}} />
                <br />
                <label>Tester</label>
                <input type="text" value={{defect.Tester}} />
                <br />
                <label>Resolved Version</label>
                <input type="text" value={{defect.ResolvedVersion}} />
                <br />
                <label>Discovered Version</label>
                <input type="text" value={{defect.DiscoveredVersion}} />
                <br />
                <label>Reported Date</label>
                <label>{{defect.ReportedDate}}</label>
                <br />
                <label>Priority</label>
                <input type="number" value={{defect.Priority}} />
                <br />
                <label>Resolution Description</label>
                <textarea rows="5" cols="20">{{defect.ResolutionDescription}}</textarea>
                <br />
                <label>Fixed Time</label>
                <input type="number" value={{defect.FixedTime}} />
                <br />
                <label>Date Changed</label>
                <label>{{defect.DateChanged}}</label>
                <br />
                <label>Test Date</label>
                <label>{{defect.TestDate}}</label>
                <br />
                <label>Release Date</label>
                <label>{{defect.ReleaseDate}}</label>
                <br />
                <label>Visibility</label>
                <input type="checkbox" value={{defect.visibility}} />
                <br />
            
                <input type="button" value="Add Defect" ng-click="addNew()" />
            </div>
        </div>
    </body>
</html>
