<!DOCTYPE html>
<html  ng-app>
    <head>
        <title>Defect System</title>
        <script src="js/angular.js"></script>
        <script src="js/dataload.js"></script>
        <script src="js/reportControl.js"></script>
        <link href="styles/styles.css" rel="stylesheet" />
    </head>
    <body ng-controller="viewDefectController" ng-init="init()">
        <nav>
            <ul>
                <li><a href="index.htm">Home</a></li>
                <li><a href="reports.htm">Reports</a></li>
                <li><a href="addDefect.htm">Add Defect</a></li>
                <li><a href="login.htm">Logout</a></li>
            </ul>
        </nav>
        <body ng-controller="viewDefectController">
        <label>Unassigned Issues</label>
        <input type="button" value="run" ng-click="unassignedReport()" />
        <br />
        <label>Progress Report</label>
        <input type="button" value="run" ng-click="progressReport()" />
        <table id="report">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Work Order</th>
                    <th>Project</th>
                    <th>Severity</th>
                    <th>Status</th>
                    <th>Engineer</th>
                    <th>Tester</th>
                    <th>Submitter</th>
                    <th>ResolvedVersion</th>
                    <th>DiscoveredVersion</th>
                    <th>ReportedDate</th>
                    <th>Priority</th>
                    <th>ResolutionDescription</th>
                    <th>fixedTime</th>
                    <th>DateChanged</th>
                    <th>TestDate</th>
                    <th>Reported Date</th>
                    <th>ReleaseDate</th>
                    <th>Visibility</th>
                </tr>
            </thead>
            <tbody ng-repeat="defect in Reportdefects">
                <tr>
                    <td><a href="view.htm#{{defect.ID}}">{{defect.ID}}</a></td>
                    <td>{{defect.Title}}</td>
                    <td>{{defect.WorkOrder}}</td>
                    <td>{{defect.Project}}</td>
                    <td>{{defect.Severity}}</td>
                    <td>{{defect.Status.Value}}</td>
                    <td>{{defect.Engineer}}</td>
                    <td>{{defect.Tester}}</td>
                    <td>{{defect.Submitter}}</td>
                    <td>{{defect.ResolvedVersion}}</td>
                    <td>{{defect.DiscoveredVersion}}</td>
                    <td>{{defect.ReportedDate}}</td>
                    <td>{{defect.Priority}}</td>
                    <td>{{defect.ResolutionDescription}}</td>
                    <td>{{defect.fixedTime}}</td>
                    <td>{{defect.DateChanged}}</td>
                    <td> {{defect.TestDate}}</td>
                    <td> {{defect.ReportedDate}}</td>
                    <td>{{defect.ReleaseDate}}</td>
                    <td>{{defect.Visibility}}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>