body {
}

#login 
{
    width:250px;
}
        
#login label 
{
    float:left;
}
        
#login input
{
    float:right;
}
        
#login br
{
    clear:both;
}
#addDefect
{
    width:330px;
}
#addDefect br + label
{
    float:left;
}
            
#addDefect label + label, #addDefect textarea, #addDefect input
{
    float:right;
}
            
#addDefect br
{
    clear:both;
}
            
#addDefect h1
{
    text-align:center;
}